# Copyright Contributors to the Open Cluster Management project
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
bin/
!test/bin/

# IDE config files
.dead/
.vscode/
.idea/

# Cert
.ocmconfig
multicluster_ca

# Test
test/resources/kubeconfig
test/resources/controlplane
!test/resources/controlplane/service-template.yaml
test/resources/integration