{{ if eq .Values.enableSelfManagement true }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: open-cluster-management:multicluster-controlplane:self-management:work-execution-admin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  # We deploy a controller that could work with permission lower than cluster-admin, the tradeoff is
  # responsivity because list/watch cannot be maintained over too many namespaces.
  name: admin
subjects:
- kind: ServiceAccount
  name: multicluster-controlplane-sa
  namespace: {{ .Release.Namespace }}
{{ end }}
