# Default values for multicluster-controlplane.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image: quay.io/open-cluster-management/multicluster-controlplane:latest
imagePullPolicy: IfNotPresent

replicas: 1

features: "DefaultClusterSet=true,ManagedClusterAutoApproval=true"

autoApprovalBootstrapUsers: ""

# TODO: should add restriction while enable selfmanagement
enableSelfManagement: false

enableDelegatingAuthentication: false

apiserver:
  externalHostname: ""
  ca: ""
  cakey: ""
etcd:
  mode: "embed"
  servers: []
  ca: ""
  cert: ""
  certkey: ""

pvc:
  storageCapacity: 1Gi
  storageClassName: ""
  selector: {}

route:
  enabled: false
  # for route, we may have more config to support in the future

loadbalancer:
  enabled: false
  # TODO: is it any different with externalHostname?
  baseDomain: ""  #e,g, *.aws.xxx

nodeport:
  enabled: false
  port: 30443

containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  privileged: false
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

# https://github.com/open-cluster-management-io/multicluster-controlplane/blob/65996596b295e0e438f198eb728d0ebf7e449927/Dockerfile#L18
podSecurityContext: {}
  # runAsUser: 10001
  # runAsGroup: 10001
  # fsGroup: 10001
